<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FFEtc.mapper.CCUMapper">
    <select id="selectTotoalRec_ByTime" resultType="java.lang.Integer">
        SELECT count(*) from transdata WHERE DetectTime &gt;= #{dtfrom} and DetectTime &lt; #{dtto}
    </select>
    <select id="selectTotalTrdRec_HasObuID_ByTime" resultType="java.lang.Integer">
        SELECT count(*) from transdata WHERE DetectTime &gt;= #{dtfrom} and DetectTime &lt; #{dtto} and OBUID != 0
    </select>
    <select id="selectTotalTrdRec_No12_ByTime" resultType="java.lang.Integer">
        SELECT count(*) from transdata WHERE DetectTime &gt;= #{dtfrom} and DetectTime &lt; #{dtto} and TransStatus != 12
    </select>
    <select id="selectObuNoMatchLas_Suc_ByTime" resultType="java.lang.Integer">
        SELECT count(*) from transdata WHERE DetectTime &gt;= #{dtfrom} and DetectTime &lt; #{dtto} and LaserID = 0 and TransStatus != 12
    </select>
    <select id="selectObuNoMatchLas_Fail_ByTime" resultType="java.lang.Integer">
        SELECT count(*) from transdata WHERE DetectTime &gt;= #{dtfrom} and DetectTime &lt; #{dtto} and LaserID = 0 and TransStatus != 12
    </select>
</mapper>