<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FFEtc.mapper.TransDataMapper">
    <resultMap id="TransDataResultMap" type="FFEtc.entity.TransData">
        <id column="ID" jdbcType="INTEGER" property="id" />
        <result column="VehID" jdbcType="VARCHAR" property="vehid" />
        <result column="StationNo" jdbcType="TINYINT" property="stationno" />
        <result column="LaneNo" jdbcType="TINYINT" property="laneno" />
        <result column="TransTime" jdbcType="TIMESTAMP" property="transtime" />
        <result column="TransTimeMill" jdbcType="INTEGER" property="transtimemill" />
        <result column="TransStatus" jdbcType="SMALLINT" property="transstatus" />
        <result column="PositionX" jdbcType="INTEGER" property="positionx" />
        <result column="PositionY" jdbcType="INTEGER" property="positiony" />
        <result column="OBUIssuerID" jdbcType="VARCHAR" property="obuissuerid" />
        <result column="OBUID" jdbcType="VARCHAR" property="obuid" />
        <result column="OBUStatus" jdbcType="VARCHAR" property="obustatus" />
        <result column="OBUContractVer" jdbcType="VARCHAR" property="obucontractver" />
        <result column="OBUContractNo" jdbcType="VARCHAR" property="obucontractno" />
        <result column="OBUSignDate" jdbcType="TIMESTAMP" property="obusigndate" />
        <result column="OBUSignDateMill" jdbcType="INTEGER" property="obusigndatemill" />
        <result column="OBUExpireDate" jdbcType="TIMESTAMP" property="obuexpiredate" />
        <result column="OBUExpireDateMill" jdbcType="INTEGER" property="obuexpiredatemill" />
        <result column="VehiclePlateColor" jdbcType="VARCHAR" property="vehicleplatecolor" />
        <result column="VehicleClass" jdbcType="VARCHAR" property="vehicleclass" />
        <result column="VehicleUserType" jdbcType="VARCHAR" property="vehicleusertype" />
        <result column="ICCardType" jdbcType="VARCHAR" property="iccardtype" />
        <result column="ICCardVersion" jdbcType="VARCHAR" property="iccardversion" />
        <result column="ICCardNetNo" jdbcType="VARCHAR" property="iccardnetno" />
        <result column="ICCardIssuerID" jdbcType="VARCHAR" property="iccardissuerid" />
        <result column="ICCardContractNo" jdbcType="VARCHAR" property="iccardcontractno" />
        <result column="ICCardSignDate" jdbcType="TIMESTAMP" property="iccardsigndate" />
        <result column="ICCardSignDateMill" jdbcType="INTEGER" property="iccardsigndatemill" />
        <result column="ICCardExpireDate" jdbcType="TIMESTAMP" property="iccardexpiredate" />
        <result column="ICCardExpireDateMill" jdbcType="INTEGER" property="iccardexpiredatemill" />
        <result column="ICCardBalance" jdbcType="INTEGER" property="iccardbalance" />
        <result column="Fee" jdbcType="INTEGER" property="fee" />
        <result column="TransType" jdbcType="VARCHAR" property="transtype" />
        <result column="TerminalNo" jdbcType="VARCHAR" property="terminalno" />
        <result column="ICTransNo" jdbcType="VARCHAR" property="ictransno" />
        <result column="RSUTransNo" jdbcType="VARCHAR" property="rsutransno" />
        <result column="ICCardTransTime" jdbcType="TIMESTAMP" property="iccardtranstime" />
        <result column="ICCardTransTimeMill" jdbcType="INTEGER" property="iccardtranstimemill" />
        <result column="TAC" jdbcType="VARCHAR" property="tac" />
        <result column="ExStationNo" jdbcType="VARCHAR" property="exstationno" />
        <result column="ExTransTime" jdbcType="TIMESTAMP" property="extranstime" />
        <result column="ExTransTimeMill" jdbcType="INTEGER" property="extranstimemill" />
        <result column="TarrifVersion" jdbcType="VARCHAR" property="tarrifversion" />
        <result column="PictureTime" jdbcType="TIMESTAMP" property="picturetime" />
        <result column="PictureTimeMill" jdbcType="INTEGER" property="picturetimemill" />
        <result column="DetectTime" jdbcType="TIMESTAMP" property="detecttime" />
        <result column="DetectTimeMill" jdbcType="INTEGER" property="detecttimemill" />
        <result column="CaptureTime" jdbcType="TIMESTAMP" property="capturetime" />
        <result column="CaptureTimeMill" jdbcType="INTEGER" property="capturetimemill" />
        <result column="PlateColor" jdbcType="INTEGER" property="platecolor" />
        <result column="PicPlateIndex" jdbcType="INTEGER" property="picplateindex" />
        <result column="PicConfidence" jdbcType="INTEGER" property="picconfidence" />
        <result column="OBUPlateIndex" jdbcType="INTEGER" property="obuplateindex" />
        <result column="ICPlateIndex" jdbcType="INTEGER" property="icplateindex" />
        <result column="PicPlate" jdbcType="VARCHAR" property="picplate" />
        <result column="OBUPlate" jdbcType="VARCHAR" property="obuplate" />
        <result column="ICPlate" jdbcType="VARCHAR" property="icplate" />
        <result column="Pic1_Length" jdbcType="INTEGER" property="pic1Length" />
        <result column="Pic2_Length" jdbcType="INTEGER" property="pic2Length" />
        <result column="Pic3_Length" jdbcType="INTEGER" property="pic3Length" />
        <result column="LaserID" jdbcType="INTEGER" property="laserid" />
        <result column="LaserPositionX" jdbcType="INTEGER" property="laserpositionx" />
        <result column="LaserPositionY" jdbcType="INTEGER" property="laserpositiony" />
        <result column="PicPath1" jdbcType="VARCHAR" property="picpath1" />
        <result column="PicPath2" jdbcType="VARCHAR" property="picpath2" />
        <result column="PicPath3" jdbcType="VARCHAR" property="picpath3" />
        <result column="PicPath4" jdbcType="VARCHAR" property="picpath4" />
        <result column="PicPath5" jdbcType="VARCHAR" property="picpath5" />
        <result column="VehSpeed" jdbcType="INTEGER" property="vehspeed" />
        <result column="RealPicPlate" jdbcType="VARCHAR" property="realpicplate" />
        <result column="State" jdbcType="INTEGER" property="state" />
    </resultMap>
    <sql id="TransData_Column_List">
        ID, VehID, StationNo, LaneNo, TransTime, TransTimeMill, TransStatus, PositionX, PositionY,
        OBUIssuerID, OBUID, OBUStatus, OBUContractVer, OBUContractNo, OBUSignDate, OBUSignDateMill,
        OBUExpireDate, OBUExpireDateMill, VehiclePlateColor, VehicleClass, VehicleUserType,
        ICCardType, ICCardVersion, ICCardNetNo, ICCardIssuerID, ICCardContractNo, ICCardSignDate,
        ICCardSignDateMill, ICCardExpireDate, ICCardExpireDateMill, ICCardBalance, Fee, TransType,
        TerminalNo, ICTransNo, RSUTransNo, ICCardTransTime, ICCardTransTimeMill, TAC, ExStationNo,
        ExTransTime, ExTransTimeMill, TarrifVersion, PictureTime, PictureTimeMill, DetectTime,
        DetectTimeMill, CaptureTime, CaptureTimeMill, PlateColor, PicPlateIndex, PicConfidence,
        OBUPlateIndex, ICPlateIndex, PicPlate, OBUPlate, ICPlate, Pic1_Length, Pic2_Length,
        Pic3_Length, LaserID, LaserPositionX, LaserPositionY, PicPath1, PicPath2, PicPath3,
        PicPath4, PicPath5, VehSpeed, RealPicPlate, State
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="TransDataResultMap">
        select
        <include refid="TransData_Column_List" />
        from transdata
        where ID = #{id,jdbcType=INTEGER}
    </select>
    <select id="seleteTransData_ByTime" resultType="FFEtc.entity.TransData">
        select
        <include refid="TransData_Column_List" />
        from transdata
        WHERE DetectTime &gt;= #{dtfrom} and DetectTime &lt; #{dtto}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from transdata
        where ID = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="FFEtc.entity.TransData">
        insert into transdata (ID, VehID, StationNo,
        LaneNo, TransTime, TransTimeMill,
        TransStatus, PositionX, PositionY,
        OBUIssuerID, OBUID, OBUStatus,
        OBUContractVer, OBUContractNo, OBUSignDate,
        OBUSignDateMill, OBUExpireDate, OBUExpireDateMill,
        VehiclePlateColor, VehicleClass, VehicleUserType,
        ICCardType, ICCardVersion, ICCardNetNo,
        ICCardIssuerID, ICCardContractNo, ICCardSignDate,
        ICCardSignDateMill, ICCardExpireDate,
        ICCardExpireDateMill, ICCardBalance, Fee,
        TransType, TerminalNo, ICTransNo,
        RSUTransNo, ICCardTransTime, ICCardTransTimeMill,
        TAC, ExStationNo, ExTransTime,
        ExTransTimeMill, TarrifVersion, PictureTime,
        PictureTimeMill, DetectTime, DetectTimeMill,
        CaptureTime, CaptureTimeMill, PlateColor,
        PicPlateIndex, PicConfidence, OBUPlateIndex,
        ICPlateIndex, PicPlate, OBUPlate,
        ICPlate, Pic1_Length, Pic2_Length,
        Pic3_Length, LaserID, LaserPositionX,
        LaserPositionY, PicPath1, PicPath2,
        PicPath3, PicPath4, PicPath5,
        VehSpeed, RealPicPlate, State
        )
        values (#{id,jdbcType=INTEGER}, #{vehid,jdbcType=VARCHAR}, #{stationno,jdbcType=TINYINT},
        #{laneno,jdbcType=TINYINT}, #{transtime,jdbcType=TIMESTAMP}, #{transtimemill,jdbcType=INTEGER},
        #{transstatus,jdbcType=SMALLINT}, #{positionx,jdbcType=INTEGER}, #{positiony,jdbcType=INTEGER},
        #{obuissuerid,jdbcType=VARCHAR}, #{obuid,jdbcType=VARCHAR}, #{obustatus,jdbcType=VARCHAR},
        #{obucontractver,jdbcType=VARCHAR}, #{obucontractno,jdbcType=VARCHAR}, #{obusigndate,jdbcType=TIMESTAMP},
        #{obusigndatemill,jdbcType=INTEGER}, #{obuexpiredate,jdbcType=TIMESTAMP}, #{obuexpiredatemill,jdbcType=INTEGER},
        #{vehicleplatecolor,jdbcType=VARCHAR}, #{vehicleclass,jdbcType=VARCHAR}, #{vehicleusertype,jdbcType=VARCHAR},
        #{iccardtype,jdbcType=VARCHAR}, #{iccardversion,jdbcType=VARCHAR}, #{iccardnetno,jdbcType=VARCHAR},
        #{iccardissuerid,jdbcType=VARCHAR}, #{iccardcontractno,jdbcType=VARCHAR}, #{iccardsigndate,jdbcType=TIMESTAMP},
        #{iccardsigndatemill,jdbcType=INTEGER}, #{iccardexpiredate,jdbcType=TIMESTAMP},
        #{iccardexpiredatemill,jdbcType=INTEGER}, #{iccardbalance,jdbcType=INTEGER}, #{fee,jdbcType=INTEGER},
        #{transtype,jdbcType=VARCHAR}, #{terminalno,jdbcType=VARCHAR}, #{ictransno,jdbcType=VARCHAR},
        #{rsutransno,jdbcType=VARCHAR}, #{iccardtranstime,jdbcType=TIMESTAMP}, #{iccardtranstimemill,jdbcType=INTEGER},
        #{tac,jdbcType=VARCHAR}, #{exstationno,jdbcType=VARCHAR}, #{extranstime,jdbcType=TIMESTAMP},
        #{extranstimemill,jdbcType=INTEGER}, #{tarrifversion,jdbcType=VARCHAR}, #{picturetime,jdbcType=TIMESTAMP},
        #{picturetimemill,jdbcType=INTEGER}, #{detecttime,jdbcType=TIMESTAMP}, #{detecttimemill,jdbcType=INTEGER},
        #{capturetime,jdbcType=TIMESTAMP}, #{capturetimemill,jdbcType=INTEGER}, #{platecolor,jdbcType=INTEGER},
        #{picplateindex,jdbcType=INTEGER}, #{picconfidence,jdbcType=INTEGER}, #{obuplateindex,jdbcType=INTEGER},
        #{icplateindex,jdbcType=INTEGER}, #{picplate,jdbcType=VARCHAR}, #{obuplate,jdbcType=VARCHAR},
        #{icplate,jdbcType=VARCHAR}, #{pic1Length,jdbcType=INTEGER}, #{pic2Length,jdbcType=INTEGER},
        #{pic3Length,jdbcType=INTEGER}, #{laserid,jdbcType=INTEGER}, #{laserpositionx,jdbcType=INTEGER},
        #{laserpositiony,jdbcType=INTEGER}, #{picpath1,jdbcType=VARCHAR}, #{picpath2,jdbcType=VARCHAR},
        #{picpath3,jdbcType=VARCHAR}, #{picpath4,jdbcType=VARCHAR}, #{picpath5,jdbcType=VARCHAR},
        #{vehspeed,jdbcType=INTEGER}, #{realpicplate,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="FFEtc.entity.TransData">
        insert into transdata
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="vehid != null">
                VehID,
            </if>
            <if test="stationno != null">
                StationNo,
            </if>
            <if test="laneno != null">
                LaneNo,
            </if>
            <if test="transtime != null">
                TransTime,
            </if>
            <if test="transtimemill != null">
                TransTimeMill,
            </if>
            <if test="transstatus != null">
                TransStatus,
            </if>
            <if test="positionx != null">
                PositionX,
            </if>
            <if test="positiony != null">
                PositionY,
            </if>
            <if test="obuissuerid != null">
                OBUIssuerID,
            </if>
            <if test="obuid != null">
                OBUID,
            </if>
            <if test="obustatus != null">
                OBUStatus,
            </if>
            <if test="obucontractver != null">
                OBUContractVer,
            </if>
            <if test="obucontractno != null">
                OBUContractNo,
            </if>
            <if test="obusigndate != null">
                OBUSignDate,
            </if>
            <if test="obusigndatemill != null">
                OBUSignDateMill,
            </if>
            <if test="obuexpiredate != null">
                OBUExpireDate,
            </if>
            <if test="obuexpiredatemill != null">
                OBUExpireDateMill,
            </if>
            <if test="vehicleplatecolor != null">
                VehiclePlateColor,
            </if>
            <if test="vehicleclass != null">
                VehicleClass,
            </if>
            <if test="vehicleusertype != null">
                VehicleUserType,
            </if>
            <if test="iccardtype != null">
                ICCardType,
            </if>
            <if test="iccardversion != null">
                ICCardVersion,
            </if>
            <if test="iccardnetno != null">
                ICCardNetNo,
            </if>
            <if test="iccardissuerid != null">
                ICCardIssuerID,
            </if>
            <if test="iccardcontractno != null">
                ICCardContractNo,
            </if>
            <if test="iccardsigndate != null">
                ICCardSignDate,
            </if>
            <if test="iccardsigndatemill != null">
                ICCardSignDateMill,
            </if>
            <if test="iccardexpiredate != null">
                ICCardExpireDate,
            </if>
            <if test="iccardexpiredatemill != null">
                ICCardExpireDateMill,
            </if>
            <if test="iccardbalance != null">
                ICCardBalance,
            </if>
            <if test="fee != null">
                Fee,
            </if>
            <if test="transtype != null">
                TransType,
            </if>
            <if test="terminalno != null">
                TerminalNo,
            </if>
            <if test="ictransno != null">
                ICTransNo,
            </if>
            <if test="rsutransno != null">
                RSUTransNo,
            </if>
            <if test="iccardtranstime != null">
                ICCardTransTime,
            </if>
            <if test="iccardtranstimemill != null">
                ICCardTransTimeMill,
            </if>
            <if test="tac != null">
                TAC,
            </if>
            <if test="exstationno != null">
                ExStationNo,
            </if>
            <if test="extranstime != null">
                ExTransTime,
            </if>
            <if test="extranstimemill != null">
                ExTransTimeMill,
            </if>
            <if test="tarrifversion != null">
                TarrifVersion,
            </if>
            <if test="picturetime != null">
                PictureTime,
            </if>
            <if test="picturetimemill != null">
                PictureTimeMill,
            </if>
            <if test="detecttime != null">
                DetectTime,
            </if>
            <if test="detecttimemill != null">
                DetectTimeMill,
            </if>
            <if test="capturetime != null">
                CaptureTime,
            </if>
            <if test="capturetimemill != null">
                CaptureTimeMill,
            </if>
            <if test="platecolor != null">
                PlateColor,
            </if>
            <if test="picplateindex != null">
                PicPlateIndex,
            </if>
            <if test="picconfidence != null">
                PicConfidence,
            </if>
            <if test="obuplateindex != null">
                OBUPlateIndex,
            </if>
            <if test="icplateindex != null">
                ICPlateIndex,
            </if>
            <if test="picplate != null">
                PicPlate,
            </if>
            <if test="obuplate != null">
                OBUPlate,
            </if>
            <if test="icplate != null">
                ICPlate,
            </if>
            <if test="pic1Length != null">
                Pic1_Length,
            </if>
            <if test="pic2Length != null">
                Pic2_Length,
            </if>
            <if test="pic3Length != null">
                Pic3_Length,
            </if>
            <if test="laserid != null">
                LaserID,
            </if>
            <if test="laserpositionx != null">
                LaserPositionX,
            </if>
            <if test="laserpositiony != null">
                LaserPositionY,
            </if>
            <if test="picpath1 != null">
                PicPath1,
            </if>
            <if test="picpath2 != null">
                PicPath2,
            </if>
            <if test="picpath3 != null">
                PicPath3,
            </if>
            <if test="picpath4 != null">
                PicPath4,
            </if>
            <if test="picpath5 != null">
                PicPath5,
            </if>
            <if test="vehspeed != null">
                VehSpeed,
            </if>
            <if test="realpicplate != null">
                RealPicPlate,
            </if>
            <if test="state != null">
                State,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="vehid != null">
                #{vehid,jdbcType=VARCHAR},
            </if>
            <if test="stationno != null">
                #{stationno,jdbcType=TINYINT},
            </if>
            <if test="laneno != null">
                #{laneno,jdbcType=TINYINT},
            </if>
            <if test="transtime != null">
                #{transtime,jdbcType=TIMESTAMP},
            </if>
            <if test="transtimemill != null">
                #{transtimemill,jdbcType=INTEGER},
            </if>
            <if test="transstatus != null">
                #{transstatus,jdbcType=SMALLINT},
            </if>
            <if test="positionx != null">
                #{positionx,jdbcType=INTEGER},
            </if>
            <if test="positiony != null">
                #{positiony,jdbcType=INTEGER},
            </if>
            <if test="obuissuerid != null">
                #{obuissuerid,jdbcType=VARCHAR},
            </if>
            <if test="obuid != null">
                #{obuid,jdbcType=VARCHAR},
            </if>
            <if test="obustatus != null">
                #{obustatus,jdbcType=VARCHAR},
            </if>
            <if test="obucontractver != null">
                #{obucontractver,jdbcType=VARCHAR},
            </if>
            <if test="obucontractno != null">
                #{obucontractno,jdbcType=VARCHAR},
            </if>
            <if test="obusigndate != null">
                #{obusigndate,jdbcType=TIMESTAMP},
            </if>
            <if test="obusigndatemill != null">
                #{obusigndatemill,jdbcType=INTEGER},
            </if>
            <if test="obuexpiredate != null">
                #{obuexpiredate,jdbcType=TIMESTAMP},
            </if>
            <if test="obuexpiredatemill != null">
                #{obuexpiredatemill,jdbcType=INTEGER},
            </if>
            <if test="vehicleplatecolor != null">
                #{vehicleplatecolor,jdbcType=VARCHAR},
            </if>
            <if test="vehicleclass != null">
                #{vehicleclass,jdbcType=VARCHAR},
            </if>
            <if test="vehicleusertype != null">
                #{vehicleusertype,jdbcType=VARCHAR},
            </if>
            <if test="iccardtype != null">
                #{iccardtype,jdbcType=VARCHAR},
            </if>
            <if test="iccardversion != null">
                #{iccardversion,jdbcType=VARCHAR},
            </if>
            <if test="iccardnetno != null">
                #{iccardnetno,jdbcType=VARCHAR},
            </if>
            <if test="iccardissuerid != null">
                #{iccardissuerid,jdbcType=VARCHAR},
            </if>
            <if test="iccardcontractno != null">
                #{iccardcontractno,jdbcType=VARCHAR},
            </if>
            <if test="iccardsigndate != null">
                #{iccardsigndate,jdbcType=TIMESTAMP},
            </if>
            <if test="iccardsigndatemill != null">
                #{iccardsigndatemill,jdbcType=INTEGER},
            </if>
            <if test="iccardexpiredate != null">
                #{iccardexpiredate,jdbcType=TIMESTAMP},
            </if>
            <if test="iccardexpiredatemill != null">
                #{iccardexpiredatemill,jdbcType=INTEGER},
            </if>
            <if test="iccardbalance != null">
                #{iccardbalance,jdbcType=INTEGER},
            </if>
            <if test="fee != null">
                #{fee,jdbcType=INTEGER},
            </if>
            <if test="transtype != null">
                #{transtype,jdbcType=VARCHAR},
            </if>
            <if test="terminalno != null">
                #{terminalno,jdbcType=VARCHAR},
            </if>
            <if test="ictransno != null">
                #{ictransno,jdbcType=VARCHAR},
            </if>
            <if test="rsutransno != null">
                #{rsutransno,jdbcType=VARCHAR},
            </if>
            <if test="iccardtranstime != null">
                #{iccardtranstime,jdbcType=TIMESTAMP},
            </if>
            <if test="iccardtranstimemill != null">
                #{iccardtranstimemill,jdbcType=INTEGER},
            </if>
            <if test="tac != null">
                #{tac,jdbcType=VARCHAR},
            </if>
            <if test="exstationno != null">
                #{exstationno,jdbcType=VARCHAR},
            </if>
            <if test="extranstime != null">
                #{extranstime,jdbcType=TIMESTAMP},
            </if>
            <if test="extranstimemill != null">
                #{extranstimemill,jdbcType=INTEGER},
            </if>
            <if test="tarrifversion != null">
                #{tarrifversion,jdbcType=VARCHAR},
            </if>
            <if test="picturetime != null">
                #{picturetime,jdbcType=TIMESTAMP},
            </if>
            <if test="picturetimemill != null">
                #{picturetimemill,jdbcType=INTEGER},
            </if>
            <if test="detecttime != null">
                #{detecttime,jdbcType=TIMESTAMP},
            </if>
            <if test="detecttimemill != null">
                #{detecttimemill,jdbcType=INTEGER},
            </if>
            <if test="capturetime != null">
                #{capturetime,jdbcType=TIMESTAMP},
            </if>
            <if test="capturetimemill != null">
                #{capturetimemill,jdbcType=INTEGER},
            </if>
            <if test="platecolor != null">
                #{platecolor,jdbcType=INTEGER},
            </if>
            <if test="picplateindex != null">
                #{picplateindex,jdbcType=INTEGER},
            </if>
            <if test="picconfidence != null">
                #{picconfidence,jdbcType=INTEGER},
            </if>
            <if test="obuplateindex != null">
                #{obuplateindex,jdbcType=INTEGER},
            </if>
            <if test="icplateindex != null">
                #{icplateindex,jdbcType=INTEGER},
            </if>
            <if test="picplate != null">
                #{picplate,jdbcType=VARCHAR},
            </if>
            <if test="obuplate != null">
                #{obuplate,jdbcType=VARCHAR},
            </if>
            <if test="icplate != null">
                #{icplate,jdbcType=VARCHAR},
            </if>
            <if test="pic1Length != null">
                #{pic1Length,jdbcType=INTEGER},
            </if>
            <if test="pic2Length != null">
                #{pic2Length,jdbcType=INTEGER},
            </if>
            <if test="pic3Length != null">
                #{pic3Length,jdbcType=INTEGER},
            </if>
            <if test="laserid != null">
                #{laserid,jdbcType=INTEGER},
            </if>
            <if test="laserpositionx != null">
                #{laserpositionx,jdbcType=INTEGER},
            </if>
            <if test="laserpositiony != null">
                #{laserpositiony,jdbcType=INTEGER},
            </if>
            <if test="picpath1 != null">
                #{picpath1,jdbcType=VARCHAR},
            </if>
            <if test="picpath2 != null">
                #{picpath2,jdbcType=VARCHAR},
            </if>
            <if test="picpath3 != null">
                #{picpath3,jdbcType=VARCHAR},
            </if>
            <if test="picpath4 != null">
                #{picpath4,jdbcType=VARCHAR},
            </if>
            <if test="picpath5 != null">
                #{picpath5,jdbcType=VARCHAR},
            </if>
            <if test="vehspeed != null">
                #{vehspeed,jdbcType=INTEGER},
            </if>
            <if test="realpicplate != null">
                #{realpicplate,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="FFEtc.entity.TransData">
        update transdata
        <set>
            <if test="vehid != null">
                VehID = #{vehid,jdbcType=VARCHAR},
            </if>
            <if test="stationno != null">
                StationNo = #{stationno,jdbcType=TINYINT},
            </if>
            <if test="laneno != null">
                LaneNo = #{laneno,jdbcType=TINYINT},
            </if>
            <if test="transtime != null">
                TransTime = #{transtime,jdbcType=TIMESTAMP},
            </if>
            <if test="transtimemill != null">
                TransTimeMill = #{transtimemill,jdbcType=INTEGER},
            </if>
            <if test="transstatus != null">
                TransStatus = #{transstatus,jdbcType=SMALLINT},
            </if>
            <if test="positionx != null">
                PositionX = #{positionx,jdbcType=INTEGER},
            </if>
            <if test="positiony != null">
                PositionY = #{positiony,jdbcType=INTEGER},
            </if>
            <if test="obuissuerid != null">
                OBUIssuerID = #{obuissuerid,jdbcType=VARCHAR},
            </if>
            <if test="obuid != null">
                OBUID = #{obuid,jdbcType=VARCHAR},
            </if>
            <if test="obustatus != null">
                OBUStatus = #{obustatus,jdbcType=VARCHAR},
            </if>
            <if test="obucontractver != null">
                OBUContractVer = #{obucontractver,jdbcType=VARCHAR},
            </if>
            <if test="obucontractno != null">
                OBUContractNo = #{obucontractno,jdbcType=VARCHAR},
            </if>
            <if test="obusigndate != null">
                OBUSignDate = #{obusigndate,jdbcType=TIMESTAMP},
            </if>
            <if test="obusigndatemill != null">
                OBUSignDateMill = #{obusigndatemill,jdbcType=INTEGER},
            </if>
            <if test="obuexpiredate != null">
                OBUExpireDate = #{obuexpiredate,jdbcType=TIMESTAMP},
            </if>
            <if test="obuexpiredatemill != null">
                OBUExpireDateMill = #{obuexpiredatemill,jdbcType=INTEGER},
            </if>
            <if test="vehicleplatecolor != null">
                VehiclePlateColor = #{vehicleplatecolor,jdbcType=VARCHAR},
            </if>
            <if test="vehicleclass != null">
                VehicleClass = #{vehicleclass,jdbcType=VARCHAR},
            </if>
            <if test="vehicleusertype != null">
                VehicleUserType = #{vehicleusertype,jdbcType=VARCHAR},
            </if>
            <if test="iccardtype != null">
                ICCardType = #{iccardtype,jdbcType=VARCHAR},
            </if>
            <if test="iccardversion != null">
                ICCardVersion = #{iccardversion,jdbcType=VARCHAR},
            </if>
            <if test="iccardnetno != null">
                ICCardNetNo = #{iccardnetno,jdbcType=VARCHAR},
            </if>
            <if test="iccardissuerid != null">
                ICCardIssuerID = #{iccardissuerid,jdbcType=VARCHAR},
            </if>
            <if test="iccardcontractno != null">
                ICCardContractNo = #{iccardcontractno,jdbcType=VARCHAR},
            </if>
            <if test="iccardsigndate != null">
                ICCardSignDate = #{iccardsigndate,jdbcType=TIMESTAMP},
            </if>
            <if test="iccardsigndatemill != null">
                ICCardSignDateMill = #{iccardsigndatemill,jdbcType=INTEGER},
            </if>
            <if test="iccardexpiredate != null">
                ICCardExpireDate = #{iccardexpiredate,jdbcType=TIMESTAMP},
            </if>
            <if test="iccardexpiredatemill != null">
                ICCardExpireDateMill = #{iccardexpiredatemill,jdbcType=INTEGER},
            </if>
            <if test="iccardbalance != null">
                ICCardBalance = #{iccardbalance,jdbcType=INTEGER},
            </if>
            <if test="fee != null">
                Fee = #{fee,jdbcType=INTEGER},
            </if>
            <if test="transtype != null">
                TransType = #{transtype,jdbcType=VARCHAR},
            </if>
            <if test="terminalno != null">
                TerminalNo = #{terminalno,jdbcType=VARCHAR},
            </if>
            <if test="ictransno != null">
                ICTransNo = #{ictransno,jdbcType=VARCHAR},
            </if>
            <if test="rsutransno != null">
                RSUTransNo = #{rsutransno,jdbcType=VARCHAR},
            </if>
            <if test="iccardtranstime != null">
                ICCardTransTime = #{iccardtranstime,jdbcType=TIMESTAMP},
            </if>
            <if test="iccardtranstimemill != null">
                ICCardTransTimeMill = #{iccardtranstimemill,jdbcType=INTEGER},
            </if>
            <if test="tac != null">
                TAC = #{tac,jdbcType=VARCHAR},
            </if>
            <if test="exstationno != null">
                ExStationNo = #{exstationno,jdbcType=VARCHAR},
            </if>
            <if test="extranstime != null">
                ExTransTime = #{extranstime,jdbcType=TIMESTAMP},
            </if>
            <if test="extranstimemill != null">
                ExTransTimeMill = #{extranstimemill,jdbcType=INTEGER},
            </if>
            <if test="tarrifversion != null">
                TarrifVersion = #{tarrifversion,jdbcType=VARCHAR},
            </if>
            <if test="picturetime != null">
                PictureTime = #{picturetime,jdbcType=TIMESTAMP},
            </if>
            <if test="picturetimemill != null">
                PictureTimeMill = #{picturetimemill,jdbcType=INTEGER},
            </if>
            <if test="detecttime != null">
                DetectTime = #{detecttime,jdbcType=TIMESTAMP},
            </if>
            <if test="detecttimemill != null">
                DetectTimeMill = #{detecttimemill,jdbcType=INTEGER},
            </if>
            <if test="capturetime != null">
                CaptureTime = #{capturetime,jdbcType=TIMESTAMP},
            </if>
            <if test="capturetimemill != null">
                CaptureTimeMill = #{capturetimemill,jdbcType=INTEGER},
            </if>
            <if test="platecolor != null">
                PlateColor = #{platecolor,jdbcType=INTEGER},
            </if>
            <if test="picplateindex != null">
                PicPlateIndex = #{picplateindex,jdbcType=INTEGER},
            </if>
            <if test="picconfidence != null">
                PicConfidence = #{picconfidence,jdbcType=INTEGER},
            </if>
            <if test="obuplateindex != null">
                OBUPlateIndex = #{obuplateindex,jdbcType=INTEGER},
            </if>
            <if test="icplateindex != null">
                ICPlateIndex = #{icplateindex,jdbcType=INTEGER},
            </if>
            <if test="picplate != null">
                PicPlate = #{picplate,jdbcType=VARCHAR},
            </if>
            <if test="obuplate != null">
                OBUPlate = #{obuplate,jdbcType=VARCHAR},
            </if>
            <if test="icplate != null">
                ICPlate = #{icplate,jdbcType=VARCHAR},
            </if>
            <if test="pic1Length != null">
                Pic1_Length = #{pic1Length,jdbcType=INTEGER},
            </if>
            <if test="pic2Length != null">
                Pic2_Length = #{pic2Length,jdbcType=INTEGER},
            </if>
            <if test="pic3Length != null">
                Pic3_Length = #{pic3Length,jdbcType=INTEGER},
            </if>
            <if test="laserid != null">
                LaserID = #{laserid,jdbcType=INTEGER},
            </if>
            <if test="laserpositionx != null">
                LaserPositionX = #{laserpositionx,jdbcType=INTEGER},
            </if>
            <if test="laserpositiony != null">
                LaserPositionY = #{laserpositiony,jdbcType=INTEGER},
            </if>
            <if test="picpath1 != null">
                PicPath1 = #{picpath1,jdbcType=VARCHAR},
            </if>
            <if test="picpath2 != null">
                PicPath2 = #{picpath2,jdbcType=VARCHAR},
            </if>
            <if test="picpath3 != null">
                PicPath3 = #{picpath3,jdbcType=VARCHAR},
            </if>
            <if test="picpath4 != null">
                PicPath4 = #{picpath4,jdbcType=VARCHAR},
            </if>
            <if test="picpath5 != null">
                PicPath5 = #{picpath5,jdbcType=VARCHAR},
            </if>
            <if test="vehspeed != null">
                VehSpeed = #{vehspeed,jdbcType=INTEGER},
            </if>
            <if test="realpicplate != null">
                RealPicPlate = #{realpicplate,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                State = #{state,jdbcType=INTEGER},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="FFEtc.entity.TransData">
        update transdata
        set VehID = #{vehid,jdbcType=VARCHAR},
        StationNo = #{stationno,jdbcType=TINYINT},
        LaneNo = #{laneno,jdbcType=TINYINT},
        TransTime = #{transtime,jdbcType=TIMESTAMP},
        TransTimeMill = #{transtimemill,jdbcType=INTEGER},
        TransStatus = #{transstatus,jdbcType=SMALLINT},
        PositionX = #{positionx,jdbcType=INTEGER},
        PositionY = #{positiony,jdbcType=INTEGER},
        OBUIssuerID = #{obuissuerid,jdbcType=VARCHAR},
        OBUID = #{obuid,jdbcType=VARCHAR},
        OBUStatus = #{obustatus,jdbcType=VARCHAR},
        OBUContractVer = #{obucontractver,jdbcType=VARCHAR},
        OBUContractNo = #{obucontractno,jdbcType=VARCHAR},
        OBUSignDate = #{obusigndate,jdbcType=TIMESTAMP},
        OBUSignDateMill = #{obusigndatemill,jdbcType=INTEGER},
        OBUExpireDate = #{obuexpiredate,jdbcType=TIMESTAMP},
        OBUExpireDateMill = #{obuexpiredatemill,jdbcType=INTEGER},
        VehiclePlateColor = #{vehicleplatecolor,jdbcType=VARCHAR},
        VehicleClass = #{vehicleclass,jdbcType=VARCHAR},
        VehicleUserType = #{vehicleusertype,jdbcType=VARCHAR},
        ICCardType = #{iccardtype,jdbcType=VARCHAR},
        ICCardVersion = #{iccardversion,jdbcType=VARCHAR},
        ICCardNetNo = #{iccardnetno,jdbcType=VARCHAR},
        ICCardIssuerID = #{iccardissuerid,jdbcType=VARCHAR},
        ICCardContractNo = #{iccardcontractno,jdbcType=VARCHAR},
        ICCardSignDate = #{iccardsigndate,jdbcType=TIMESTAMP},
        ICCardSignDateMill = #{iccardsigndatemill,jdbcType=INTEGER},
        ICCardExpireDate = #{iccardexpiredate,jdbcType=TIMESTAMP},
        ICCardExpireDateMill = #{iccardexpiredatemill,jdbcType=INTEGER},
        ICCardBalance = #{iccardbalance,jdbcType=INTEGER},
        Fee = #{fee,jdbcType=INTEGER},
        TransType = #{transtype,jdbcType=VARCHAR},
        TerminalNo = #{terminalno,jdbcType=VARCHAR},
        ICTransNo = #{ictransno,jdbcType=VARCHAR},
        RSUTransNo = #{rsutransno,jdbcType=VARCHAR},
        ICCardTransTime = #{iccardtranstime,jdbcType=TIMESTAMP},
        ICCardTransTimeMill = #{iccardtranstimemill,jdbcType=INTEGER},
        TAC = #{tac,jdbcType=VARCHAR},
        ExStationNo = #{exstationno,jdbcType=VARCHAR},
        ExTransTime = #{extranstime,jdbcType=TIMESTAMP},
        ExTransTimeMill = #{extranstimemill,jdbcType=INTEGER},
        TarrifVersion = #{tarrifversion,jdbcType=VARCHAR},
        PictureTime = #{picturetime,jdbcType=TIMESTAMP},
        PictureTimeMill = #{picturetimemill,jdbcType=INTEGER},
        DetectTime = #{detecttime,jdbcType=TIMESTAMP},
        DetectTimeMill = #{detecttimemill,jdbcType=INTEGER},
        CaptureTime = #{capturetime,jdbcType=TIMESTAMP},
        CaptureTimeMill = #{capturetimemill,jdbcType=INTEGER},
        PlateColor = #{platecolor,jdbcType=INTEGER},
        PicPlateIndex = #{picplateindex,jdbcType=INTEGER},
        PicConfidence = #{picconfidence,jdbcType=INTEGER},
        OBUPlateIndex = #{obuplateindex,jdbcType=INTEGER},
        ICPlateIndex = #{icplateindex,jdbcType=INTEGER},
        PicPlate = #{picplate,jdbcType=VARCHAR},
        OBUPlate = #{obuplate,jdbcType=VARCHAR},
        ICPlate = #{icplate,jdbcType=VARCHAR},
        Pic1_Length = #{pic1Length,jdbcType=INTEGER},
        Pic2_Length = #{pic2Length,jdbcType=INTEGER},
        Pic3_Length = #{pic3Length,jdbcType=INTEGER},
        LaserID = #{laserid,jdbcType=INTEGER},
        LaserPositionX = #{laserpositionx,jdbcType=INTEGER},
        LaserPositionY = #{laserpositiony,jdbcType=INTEGER},
        PicPath1 = #{picpath1,jdbcType=VARCHAR},
        PicPath2 = #{picpath2,jdbcType=VARCHAR},
        PicPath3 = #{picpath3,jdbcType=VARCHAR},
        PicPath4 = #{picpath4,jdbcType=VARCHAR},
        PicPath5 = #{picpath5,jdbcType=VARCHAR},
        VehSpeed = #{vehspeed,jdbcType=INTEGER},
        RealPicPlate = #{realpicplate,jdbcType=VARCHAR},
        State = #{state,jdbcType=INTEGER}
        where ID = #{id,jdbcType=INTEGER}
    </update>
</mapper>