<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sys.mapper.RbacRoleMapper">
    <resultMap id="RbacRoleResultMap" type="sys.entity.RbacRole" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Role_Column_List" >
        rbac_role.id,rbac_role.name,rbac_role.description,rbac_role.create_time,rbac_role.update_time,rbac_role.status
    </sql>
    <select id="selectAllRoles" resultMap="RbacRoleResultMap">
        SELECT
        <include refid="Role_Column_List"/>
        FROM rbac_role
        WHERE status = 1
    </select>
</mapper>